<div class="mt-1" style="padding:20px;">
	<hr>
	<div class="row">
		<div class="col-md-12" style="display: flex; flex-direction: row;">
			<div class="form-group col-md-3 ml-2 pull left">
					<div class="input-group">
						<div class="input-group-prepend">
						<div class="input-group-text">Search</div>
						</div>
						<input type="text" class="form-control" id="searchInput" (keyup)="onFilterTextBoxChanged()" [(ngModel)]="searchText" placeholder="Search Text">
					</div>
				</div>
			<a mat-raised-button routerLink="/dashboard/admin/inventory/add-product">Add New Product</a>
			<a class="ml-2" mat-raised-button routerLink="/dashboard/admin/inventory/add-product">Print Bar-Code/Qr-Code</a>
			<!--<button class="pull-right btn btn-primary btn-sm custom-btn" (click)="openDialog()">Add New Product</button>-->
		</div>
	</div>
	
	<hr>
	<ag-grid-angular
		style="width: 100%; height: 470px; padding:20px;"
		class="ag-theme-alpine"
		[rowData]="rowData"
		[columnDefs]="columnDefs"
		(gridReady)="onGridReady($event)"
		[frameworkComponents]="frameworkComponents"
		[pagination]="true"
		[rowSelection]="rowSelection"
		[defaultColDef]="defaultColDef"
		[paginationPageSize]="perPage"
		[suppressClickEdit] = "true"
		[editType]='editType'>
	</ag-grid-angular>
</div>


