<div class="mt-1 " style="padding:20px;">
    <div class="row">
        <div class="col-md-12">
            <h4>Create New Organisation</h4>
        </div>
    </div>
    <hr>
    <a mat-icon-button [routerLink]="['/dashboard/super-admin']"><mat-icon>keyboard_backspace</mat-icon>Go Back</a>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="addUserForm">
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel [expanded]="step === 0" [disabled]="step !== 0" hideToggle>
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            Organosation data
                        </mat-panel-title>
                        <mat-panel-description>
                            Provide organisation data <mat-icon style="color: green; font-size: large; " *ngIf="f.orgName.value && f.orgNamefull.value">check</mat-icon>
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                    
                        <mat-form-field appearance="fill">
                        <mat-label>Organisation name</mat-label>
                        <input [formControl]="f.orgName" matInput>
                        <mat-error *ngIf="addUserForm.get('orgName').hasError('required')">
                            Organisation name is Required!
                          </mat-error>
                        </mat-form-field><br>

                        <mat-form-field appearance="fill">
                            <mat-label>Organisation official name</mat-label>
                            <input [formControl]="f.orgNamefull" matInput>
                            <mat-error *ngIf="addUserForm.get('orgNamefull').hasError('required')">
                                Organisation official name is Required!
                              </mat-error>
                        </mat-form-field>

                        <div class="form-control mat-form-field-infix">
                            <!-- <span matPrefix disabled style="font-size: 20px;margin-right: 10px;">{{fileName}}</span> -->
                            <input class="mat-input-element" type="file" id="logo" (change)="onfilesSelect($event)">
                            <span class="mat-form-field-label-wrapper">
                                <label class="mat-form-field-label" placeholder="Choose logo" for="logo">Organisation Logo</label>
                            </span>

                            
                        </div><br>
                        <img *ngIf="logoPreview" class="m-2 table-bordered" [src]="logoPreview" alt="Logo" height="100" width="100"/>
                            

                        <!-- <ul>
                            <li *ngFor="let row of this.featureData">
                              <mat-checkbox [formControl]="f.features['controls'][row.feature]">
                                {{row.feature | titlecase}}
                              </mat-checkbox>
                            </li>
                          </ul> -->
                        <mat-action-row>
                        <button [disabled]="!f.orgName.value || !f.orgNamefull.value" mat-button color="primary" (click)="nextStep()">Next</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="step === 1" [disabled]="step !== 1" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        Personal Details (Organisation Owner)
                        </mat-panel-title>
                        <mat-panel-description>
                        Provide Personal information <mat-icon style="color: green; font-size: large; " *ngIf="f.firstName.value && f.lastName.value && f.email.value && f.contact.value && f.altContact.value">check</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <mat-form-field appearance="fill">
                        <mat-label>First name</mat-label>
                        <input [formControl]="f.firstName" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Last name</mat-label>
                        <input [formControl]="f.lastName" matInput>
                    </mat-form-field><br>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input [formControl]="f.email" type="email" matInput>
                    </mat-form-field><br>
                
                    <mat-form-field appearance="fill">
                        <span matPrefix disabled style="font-size: 20px;margin-right: 10px;">+ 91</span>
                        <mat-label>Contact</mat-label>
                        <input [formControl]="f.contact" matInput type="tel" minlength="10" maxlength="10">
                        <mat-error *ngIf="addUserForm.get('contact').hasError('required')">
                            Contact is Required!
                          </mat-error>
                        <mat-error *ngIf="addUserForm.get('contact').hasError('pattern')">
                            Only numbers are supported.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <span matPrefix disabled style="font-size: 20px;margin-right: 10px;">+ 91</span>
                        <mat-label>Alternate Contact</mat-label>
                        <input [formControl]="f.altContact" matInput type="tel" minlength="10" maxlength="10">
                        <mat-error *ngIf="addUserForm.get('altContact').hasError('required')">
                            Alternatve Contact is Required!
                          </mat-error>
                        <mat-error *ngIf="addUserForm.get('altContact').hasError('pattern')">
                            Only numbers are supported.
                        </mat-error>
                    </mat-form-field>
                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Back</button>
                        <button [disabled]="!f.firstName.value || !f.lastName.value || !f.email.value || !f.contact.value || !f.altContact.value" mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                    </mat-expansion-panel>
                
                    <!--<mat-expansion-panel [expanded]="step === 2" [disabled]="step !== 2" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        KYC
                        </mat-panel-title>
                        <mat-panel-description>
                        Provide KYC Details
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                
                    <mat-form-field appearance="fill">
                        <mat-label>Document Type 1</mat-label>
                        <input [formControl]="f.docType" matInput>
                    </mat-form-field>

                    <div class="form-control mat-form-field-infix">
                        
                        <input class="mat-input-element" type="file" id="logo" (change)="onfilesDoc1Select($event)">
                        <span class="mat-form-field-label-wrapper">
                            <label class="mat-form-field-label" placeholder="Choose logo" for="logo">Document 1</label>
                        </span>
                    </div>
                    <pdf-viewer *ngIf="docPreview1" [src]="docPreview1" [render-text]="true" style="display: block;height:200px;"></pdf-viewer> 
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Document Type 2</mat-label>
                        <input [formControl]="f.docType" matInput>
                    </mat-form-field>
                    <div class="form-control mat-form-field-infix">
                        
                        <input class="mat-input-element" type="file" id="logo" (change)="onfilesDoc2Select($event)">
                        <span class="mat-form-field-label-wrapper">
                            <label class="mat-form-field-label" placeholder="Choose logo" for="logo">Document 2</label>
                        </span>
                    </div>
                    <pdf-viewer *ngIf="docPreview2" [src]="docPreview2" [render-text]="true" style="display: block;height:200px;"></pdf-viewer> 
                    <img *ngIf="docPreview2" class="m-2 table-bordered" [src]="logoPreview" alt="Logo" height="100" width="100"/>
                
                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Back</button>
                        <button mat-button color="primary" (click)="nextStep()">Next</button>
                    </mat-action-row>
                    </mat-expansion-panel>-->
                
                    <mat-expansion-panel [expanded]="step === 2" [disabled]="step !== 2" hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                        Organisation Address
                        </mat-panel-title>
                        <mat-panel-description>
                        Provide organisation's full address
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field appearance="fill">
                        <mat-label>Building/Street</mat-label>
                        <input [formControl]="f.orgBuilding" matInput>
                    </mat-form-field>
                   

                    <mat-form-field appearance="fill">
                        <mat-label>Landmark</mat-label>
                        <input [formControl]="f.landmark" matInput>
                    </mat-form-field><br>
                    <mat-form-field appearance="fill">
                        <mat-label>Area</mat-label>
                        <textarea [formControl]="f.orgArea" matInput></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>District</mat-label>
                        <input [formControl]="f.district" matInput>
                    </mat-form-field><br>

                    <mat-form-field appearance="fill">
                        <mat-label>State/Region</mat-label>
                        <input [formControl]="f.state" matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Country</mat-label>
                        <input [formControl]="f.country" matInput>
                    </mat-form-field><br>
                    <mat-form-field appearance="fill">
                        <mat-label>Zip Code</mat-label>
                        <input maxlength="6" minlength="6" type="tel" [formControl]="f.zip" matInput>
                        <mat-error>
                            <mat-error *ngIf="addUserForm.get('zip').hasError('required')">
                                Zip code is Required!
                              </mat-error>
                            <mat-error *ngIf="addUserForm.get('zip').hasError('pattern')">
                                Only numbers are supported.
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="fill">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly>
                    </mat-form-field>
                    <mat-datepicker #picker></mat-datepicker> -->
                
                    <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Back</button>
                        <button mat-button color="primary" (click)="onSubmit()">Add Organisation</button>
                    </mat-action-row>
                    </mat-expansion-panel>
              
                </mat-accordion>
            </form>
            <!-- <div class="card" style="max-height: 300px;">
                <h4 class="card-header">Add Organisation</h4>
                <div class="card-body">
                    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="orgName">Organisation Name</label>
                                    <input type="text" formControlName="orgName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.orgName.errors }" />
                                    <div *ngIf="submitted && f.orgName.errors" class="invalid-feedback">
                                        <div *ngIf="f.orgName.errors.required">First Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">email is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                                    </div>
                                    <a (click)="generatePassword()">Generate Password</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                 <mat-form-field appearance="fill">
                                    <mat-label>Organisation Features</mat-label>
                                    <mat-select [formControl]="toppings" multiple>
                                      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                    </div>
                                </div>                               
                            </div>
                        </div>
                        
                        
                        
                        
                        
                        <div class="form-group">
                            <button [disabled]="loading || addUserForm.invalid" class="btn btn-primary">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Add Organisation
                            </button>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</div>