<ng-container *ngIf="role === 'employee'">
    <app-header></app-header>
</ng-container>

<a mat-menu-item routerLink="/" mat-menu-item><mat-icon>arrow_back</mat-icon>Back</a>

<div  class="mt-1 row" style="padding:20px;">
    <div class="col-md-6">
        <form [formGroup]="form" (ngSubmit)="resetPassword()">
            <div class="form-group">
                <div class="form-group-text">
                    <label for="password">Password</label>
                    <input formControlName="password" type="password" name="password" id="password">
                </div>
                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                    <div *ngIf="f.password.errors.required">Password is required.</div>
                    <div *ngIf="f.password.errors.pattern">Only a-z, A-Z, 0-9,_, @, # and - are allowed.</div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group-text">
                    <label for="confirm_password">Confirm Password</label>
                    <input formControlName="confirm_password" type="password" name="confirm_password" id="confirm_password">
                </div>
                <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid && f.confirm_password.pattern.error" class="alert alert-danger">
                    <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
                    <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
                    <div *ngIf="f.confirm_password.errors.pattern">Only a-z, A-Z, 0-9,_, @, # and - are allowed.</div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
        </form>
    </div>
</div>
