
<button printSectionId="print-section" ngxPrint>print</button>
<div style="font-size: 10px!important;" id="print-section"> 
    <table style="max-height: 40%;">
        <thead>
            <tr>
                <th>SN.</th>
                <th>Product Id</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data.data; let i = index;">
                <td>{{i+1}}</td>
                <td>{{row.product_id}}</td>
                <td>{{row.qty}}</td>
                <td>{{row.price}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    Subtotal: {{ subTotal }}<br>
    <hr>
    Discount: {{ this.data.discount ? this.data.discount : 0 }}<br>
    <hr>
    Total Pay: {{ totalBill }} 
</div>
