<h2 mat-dialog-title>Add Category</h2>
  <mat-dialog-content class="mat-typography">
    <mat-form-field appearance="fill">
      <mat-label>Category Name</mat-label>
      <input matInput [(ngModel)]="category">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="description"></textarea>
    </mat-form-field>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="{'categoryName': this.category,'description': this.description}" cdkFocusInitial>Add</button>
  </mat-dialog-actions>