<h2 mat-dialog-title>Add Brand</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill">
    <mat-label>Brand Name</mat-label>
    <input matInput [(ngModel)]="brand">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!brand" [mat-dialog-close]="{'brandName':brand,'description':description}" cdkFocusInitial>Add</button>
</mat-dialog-actions>