<h2 mat-dialog-title>Add Sub-Category</h2>
  <mat-dialog-content class="mat-typography">
    <p *ngIf="data">Creating sub-category for {{data.categoryName | titlecase}}</p>
    <mat-form-field appearance="fill">
      <mat-label>Sub-Category Name</mat-label>
      <input matInput [(ngModel)]="subcategory">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="description"></textarea>
    </mat-form-field>
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="{'categoryId':this.data.categoryId, 'subCategoryName':this.subcategory,'description':this.description}" cdkFocusInitial>Add</button>
  </mat-dialog-actions>