<div class="mt-1 pt-2" style="padding:20px;">
  <div class="row">
      <div class="col-md-12">
          <h4>Add New Product</h4>
      </div>
  </div>
  <hr>
  <a mat-icon-button [routerLink]="['/dashboard/admin/inventory']"><mat-icon>keyboard_backspace</mat-icon>Go Back</a>
  <hr>
  <div class="table-responsive">
    <div class="row p-5">
        <div class="col-md-8">
          <div class="form-group row">
              <label for="prodctName" class="col-sm-3 col-form-label col-form-label-sm">Item Name</label>
              <div class="col-sm-9">
                <input type="email" class="form-control form-control-sm" id="prodctName"name="prodctName" [(ngModel)]="prodctName">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label col-form-label-sm" for="category">Category</label>
              <div class="col-sm-6">
                  <select name="category" id="category" [(ngModel)]="category" (change)="onChangeCategory()" class="custom-select mr-sm-2">
                      <!--<option value="" disabled selected>Select</option>-->
                      <option *ngFor="let cat of categoryItems" [value]="cat.categoryId">{{ cat['categoryName'] | titlecase }}</option>
                  </select>
              </div>
              <button mat-stroked-button cdkFocusInitial (click)="openAddCategoryDialog()">Add Category</button>
            </div>
            <div class="form-group row">
                <label for="gender" class="col-sm-3 col-form-label col-form-label-sm">Sub-Category</label>
                <div class="col-sm-6">
                    <select name="subCat" id="subCat" [(ngModel)]="subCategorySelected" class="custom-select mr-sm-2">
                        <option value="" disabled selected>Select</option>
                        <!--<ng-container  *ngIf="gender && category === 'clothing'">
                            <option *ngFor="let cat of subCategoryShow" [value]="cat">{{ cat['subCategoryName'] | titlecase }}</option>
                        </ng-container>
                        <ng-container *ngIf="category !== 'clothing' && category !== 'electronics'">
                            <option *ngFor="let cat of subCategory[category]" [value]="cat">{{ cat | titlecase }}</option>
                        </ng-container>-->
                        <ng-container>
                            <option *ngFor="let cat of subCategoryItems" [value]="cat.subCategoryId">{{ cat['subCategoryName'] | titlecase }}</option>
                        </ng-container>
                    </select>
                </div>
                <button mat-stroked-button cdkFocusInitial (click)="openAddSubCategoryDialog()">Add Sub-Category</button>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label col-form-label-sm" for="category">Brand</label>
                <div class="col-sm-6">
                    <select name="brand" id="brand" [(ngModel)]="brandSelected" class="custom-select mr-sm-2">
                        <option value="" disabled selected>Select</option>
                        <option *ngFor="let brand of brandItems" [value]="brand.brandId">{{ brand.brandName | titlecase }}</option>
                    </select>
                </div>
                <button mat-stroked-button cdkFocusInitial (click)="openAddBrandDialog()">Add Brand</button>
            </div>
            <!--<div *ngIf="category === 'beauty products' || category === 'clothing' || category === 'foot wear'" class="form-group row">
                <label for="gender" class="col-sm-3 col-form-label col-form-label-sm">Gender</label>
                <div class="col-sm-9">
                    <select name="gender" id="gender" [(ngModel)]="gender" class="custom-select mr-sm-2">
                        <option value="" disabled selected>Select</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="male-child">Male Child</option>
                        <option value="female-child">Female Child</option>
                    </select>
                </div>
            </div>
            <div *ngIf="category === 'beauty products' || category === 'clothing' || category === 'foot wear'" class="form-group row">
                <label for="gender" class="col-sm-3 col-form-label col-form-label-sm">Size</label>
                <div class="col-sm-9">
                    <select name="size" id="size" [(ngModel)]="size" class="custom-select mr-sm-2">
                        <option value="" disabled selected>Select</option>
                        <option value="s">S</option>
                        <option value="m">M</option>
                        <option value="l">L</option>
                        <option value="xl">XL</option>
                        <option value="xxl">XXL</option>
                        <option value="xxXl">XXXL</option>
                    </select>
                </div>
            </div>-->
            <div class="form-group row">
              <label for="qty" class="col-sm-3 col-form-label col-form-label-sm">Quantity</label>
              <div class="col-sm-9">
                <input type="number" name="qty" [(ngModel)]="qty" class="form-control form-control-sm">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="base-price" class="col-form-label col-form-label-sm">Base Price</label>
                <div class="">
                  <input type="number" name="base-price" [(ngModel)]="basePrice" class="form-control form-control-sm">
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="selling-price" class="col-form-label col-form-label-sm">Selling Price</label>
                <div class="">
                  <input type="number" name="selling-price" [(ngModel)]="sellingPrice" class="form-control form-control-sm">
                </div>
              </div>
            </div>
            
            <div class="form-group row">
              <label for="mfg-date" class="col-sm-3 col-form-label col-form-label-sm">Manufaturing Date</label>
              <div class="col-sm-9">
                <input type="datetime-local" name="mfg-date" [(ngModel)]="mfgDate" class="form-control form-control-sm">
              </div>
            </div>
            <div class="form-group row">
                <label for="qty" class="col-sm-3 col-form-label col-form-label-sm">Images</label>
                <div class="col-sm-9">
                  <input type="file" name="qty" multiple (change)="onFileSelect($event)" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="product-code" class="col-sm-3 col-form-label col-form-label-sm">Product Code</label>
                <div class="col-sm-9">
                  <input type="text" name="product-code" id="product-code" [(ngModel)]="qrResultString" class="form-control form-control-sm">
                </div>
            </div>
            <button mat-raised-button class="mr-3" (click)="resetInputs()">Reset</button>
            <button mat-raised-button color="primary" (click)="addProduct()">Add Item</button>
    
      </div>
      <div class="col-md-4">
        <div class="scanner-shell" [hidden]="!hasDevices">

            <mat-menu #appMenu="matMenu">
              <mat-selection-list>
                <mat-list-option (click)="toggleTryHarder()" [selected]="tryHarder">
                  Enable Try-harder
                </mat-list-option>
                <mat-list-option (click)="toggleTorch()" [selected]="torchEnabled"
                  *ngIf="torchAvailable$ | async">
                  Enable Torch
                </mat-list-option>
              </mat-selection-list>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="openFormatsDialog()">Barcode formats</button>
              <button mat-menu-item (click)="openInfoDialog()">App info</button>
            </mat-menu>
          
            <header>
              <mat-form-field appearance="fill">
                <select matNativeControl matInput (change)="onDeviceSelectChange($event)">
                  <option value="" [selected]="!currentDevice">No Device Selected</option>
                  <option *ngFor="let device of availableDevices" [value]="device.deviceId"
                    [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{device.label}}</option>
                </select>
              </mat-form-field>
              <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </header>
          
            <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
              [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
              (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
          
            <!--<section class="results" *ngIf="qrResultString">
              <div>
                <small>Result</small>
                <strong>{{ qrResultString }}</strong>
              </div>
              <button mat-icon-button (click)="clearResult()">&times;</button>
            </section>-->
          
          </div>
          
          <ng-container *ngIf="hasPermission === undefined">
          
            <h2>Waiting for permissions.</h2>
          
            <blockquote>
              If your device does not has cameras, no permissions will be asked.
            </blockquote>
          
          </ng-container>
          
          <ng-container *ngIf="hasPermission === false && hasDevices === undefined">
          
            <h2>You denied the camera permission, we can't scan anything without it. 😪</h2>
          
          </ng-container>
          
          <ng-container *ngIf="hasDevices === undefined">
          
            <h2>Couldn't check for devices.</h2>
          
            <blockquote>
              This may be caused by some security error.
            </blockquote>
          
          </ng-container>
          
          <ng-container *ngIf="hasDevices === false">
          
            <h2>No devices were found.</h2>
          
            <blockquote>
              I believe your device has no media devices attached to.
            </blockquote>
          
          </ng-container>

        </div>
    </div>
  </div>

