<div class="mt-1 " style="padding:20px;">
    <div class="row">
        <div class="col-md-12">
            <h4>Available Organisations</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a class="ml-3" mat-raised-button [routerLink]="['/dashboard/super-admin/orgnisation/create']">Create New Organisation</a>
            <a class="ml-2" mat-raised-button [routerLink]="['/dashboard/super-admin/orgnisation/features']">Go To Features</a>
        </div>
    </div>
    <hr>
    <!-- <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>Organisation Name</th>
                <th>Origin Name</th>
                <th>Is Active</th>
                <th>KYC Done</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of orgData; let i = index;">
                <td>{{row.organisationName}}</td>
                <td>{{row.originName}}</td>
                <td>{{row.isActive}}</td>
                <td>{{row.isKycDone}}</td>
                <td><a [routerLink]="['/dashboard/super-admin/orgnisation/details',row.organisationId]">Go to Details</a></td>
            </tr>
        </tbody>
    </table> -->

    <ag-grid-angular
		style="width: 100%; height: 470px; padding:20px;"
		class="ag-theme-alpine"
		[rowData]="orgData"
		[columnDefs]="columnDefs"
		(gridReady)="onGridReady($event)"
		[frameworkComponents]="frameworkComponents"
		[pagination]="true"
		[rowSelection]="rowSelection"
		[defaultColDef]="defaultColDef"
		[paginationPageSize]="perPage"
		[gridOptions]="gridOptions"
		[suppressClickEdit] = "true"
		[editType]='editType'>
	</ag-grid-angular>
</div>