<div class="mt-1" style="padding:20px;">
      
    <div class="row">
        <div class="col-md-12">
            <h4>Organisation settings</h4>
            <hr>
        </div>
    </div>
    
    <mat-tab-group>
        <mat-tab label="General Settings" >
            <ng-template matTabContent>
                <div class="row mt-5 ml-2">
                    <div class="col-md-6 custom-border">
                        <div class="form-control mat-form-field-infix">
                            
                            <span class="mat-form-field-label-wrapper mr-2">
                                <label class="mat-form-field-label" for="logo">Organisation Logo</label>
                            </span>
                            <!-- <span matPrefix disabled style="font-size: 20px;margin-right: 10px;">{{fileName}}</span> -->
                            <input class="mat-input-element" type="file" placeholder="Choose logo" id="logo" (change)="onfilesSelect($event)">

                            
                        </div><br>
                        <img *ngIf="logoPreview" class="m-2 table-bordered" [src]="logoPreview" alt="Logo" height="100" width="100"/>
                        <button (click)="setLogo()" mat-raised-button [disabled]="!logoPreview" type="submit">Set Logo</button>
                        
                    </div>
                    <div class="col-md-6">
                        <h5>Enable/Disable Discount/Coupons</h5>
                        <hr>
                        <label><input type="checkbox" [checked]="discountEnabled" [(ngModel)]="discountEnabled" (change)="updateFeatures()" class="example-margin">Enable Discount</label><br>
                        <label><input type="checkbox" [checked]="couponEnabled" [(ngModel)]="couponEnabled" (change)="updateFeatures()" class="example-margin">Enable Coupons</label>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        

        <mat-tab label="Receipt Settings">
            <ng-template matTabContent>
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="image"></label>
                                <input class="form-control" type="file" name="image" id="image" (change)="onfilesSelect($event)">
                            </div>
                            <button type="submit">Set Logo</button>
                        </form>
                    </div>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab *ngIf="discountEnabled" label="Discount Settings">
            <ng-template matTabContent>
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="image"></label>
                                <input class="form-control" type="file" name="image" id="image" (change)="onfilesSelect($event)">
                            </div>
                            <button type="submit">Set Logo</button>
                        </form>
                    </div>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab *ngIf="couponEnabled" label="Coupon Settings">
            <ng-template matTabContent>
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="image"></label>
                                <input class="form-control" type="file" name="image" id="image" (change)="onfilesSelect($event)">
                            </div>
                            <button type="submit">Set Logo</button>
                        </form>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Tax Settings">
            <ng-template matTabContent>
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="image"></label>
                                <input class="form-control" type="file" name="image" id="image" (change)="onfilesSelect($event)">
                            </div>
                            <button type="submit">Set Logo</button>
                        </form>
                    </div>
                </div>
            </ng-template>
        </mat-tab>

        <mat-tab label="Payment Settings">
            <ng-template matTabContent>
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label for="image"></label>
                                <input class="form-control" type="file" name="image" id="image" (change)="onfilesSelect($event)">
                            </div>
                            <button type="submit">Set Logo</button>
                        </form>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
