<div class="mt-1 " style="padding:20px;">
    <div class="row">
        <div class="col-md-12">
            <h4>Available Features</h4>
        </div>
    </div>
    <hr>
    
    <a mat-icon-button [routerLink]="['/dashboard/super-admin']"><mat-icon>keyboard_backspace</mat-icon>Go Back</a>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <a mat-raised-button *ngIf="!isCreateFeature" (click)="isCreateFeature=!isCreateFeature" class="ml-1" matButton>Create New Feature</a>
            <input *ngIf="isCreateFeature" type="text" [(ngModel)]="featureName" matInput>
            <select style="padding:3px;" class="ml-2" *ngIf="isCreateFeature" [(ngModel)]="isEnabled" matInput>
                <option value="" selected disabled>Select Feature Enable/Disable</option>
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
            <a mat-raised-button *ngIf="isCreateFeature" (click)="createFeature()" class="ml-3" matButton>Create Feature</a>
            <a mat-raised-button class="ml-2" *ngIf="isCreateFeature" (click)="isCreateFeature=!isCreateFeature" class="ml-3" matButton>Done/Cancel</a>
        </div>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Feature Name</th>
                    <th>Is Enabled</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of featureData; let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{row.featureName}}</td>
                    <td>
                        <select *ngIf="isEditing && editingIndex === i" [(ngModel)]="row.isEnabled">
                            <option value="" selected disabled>Select Feature Enable/Disable</option>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                        <span *ngIf="!isEditing || editingIndex !== i">{{row.isEnabled}}</span>
                    </td>
                    <td>
                        <a mat-icon-button *ngIf="!isEditing || editingIndex !== i" (click)="isEditing=!isEditing; editingIndex=i;"><mat-icon>edit</mat-icon></a>
                        <a mat-icon-button *ngIf="isEditing && editingIndex === i" (click)="isEditing=!isEditing; editingIndex=undefined;"><mat-icon>check</mat-icon></a>
                        <a mat-icon-button *ngIf="!isEditing || editingIndex !== i" class="ml-3"><mat-icon>delete_forever</mat-icon></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
