nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: cornflowerblue !important;
  z-index: 10;
  color: white !important;
}
ul {
  display: flex;
  flex-direction: row;
  color: white !important;
}
li {
  display: inline-flex;
  padding: 10px;
  margin: 5px;
}
li hover {
  background-color: darkcyan;
  color: white;
}
li > a {
  color: white !important;
}

li > a:hover, li > a:active {
  color: rgb(218, 199, 193) !important;
  cursor: pointer;
}
mat-nav-list.list-horizontal {
  padding: 0;
  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

.mat-toolbar-row, .mat-toolbar-single-row{
  height: unset !important;
}

.mat-list-item .mat-list-item-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.example-spacer {
  flex: 1 1 auto;
}