.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9; 
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
  .md-button {
    min-width: 1%;
}
button {
    height: 40px !important;
    background-color: rgb(189, 185, 185);
    color: rgb(0, 0, 0);
}

button:hover {
    background-color: gray;
    color: white;
}

.custom-border {
  border: gray solid 1px;
  padding:20px;
  margin-top:20px;
  margin-bottom:20px !important;
  width: 100%;
  height: 90%;
}

ul {
  padding: 0px;
  list-style: none;
  li {
   border: gray solid 1px;
   padding: 3px;
  }
}
