<app-header></app-header>
<div class="mt-1" style="padding:20px;">
	<div class="row">
		<div class="col-md-12 pl-4" style="display: flex; flex-direction: row;">
			<form class="ml-2">
				<mat-form-field>
				<input matInput [matAutocomplete]="auto" [formControl]="myControl" #autoInput placeholder="Search and add item">
				<mat-autocomplete #auto="matAutocomplete"  (optionSelected)='setItem($event, autoInput)'>
				  <mat-option *ngFor="let product of productsData" 
					  [value]="product.product_id">
					<span>{{ product.product_name | titlecase }}</span>
				  </mat-option>
				</mat-autocomplete>
			  </mat-form-field>
			  </form>
			
			<button mat-raised-button class="mr-2 ml-4" (click)="nextOrder()">Next Order</button>
			<button mat-raised-button class="mr-2" (click)="addProduct()">add</button>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="ag-theme-alpine">
				<ag-grid-angular
					style="width: 100%; height: 450px; padding:20px;"
					class=""
					[rowData]="rowData"
					[columnDefs]="columnDefs"
					(gridReady)="onGridReady($event)"
					[frameworkComponents]="frameworkComponents"
					[pagination]="false"
					[rowSelection]="rowSelection"
					[defaultColDef]="defaultColDef"
					[getRowHeight]="getRowHeight"
					[suppressClickEdit] = "true"
					(rowDataChanged)="onRowDataChanged($event)"
					[gridOptions]="gridOptions">
				</ag-grid-angular>
			</div>
		</div>
		<div class="col-md-4 pr-5">
			<div class="custom-border">
				<h4>Receipt</h4>
				<ul>
					<li>
						Total number of items:  {{ totalItems }}
					</li>
					<li>
						Service Tax: 
					</li>
					<li>
						GST: 
					</li>
					<li>
						Discount: 
					</li>
					<li>
						Sub-Total: {{ totalAmount }}
					</li>
					<li>
						Total:  {{ totalAmount }}
					</li>
				</ul>
	
				<div class="row">
					<div class="col-md-12">
						<label for="subCat">Payment Mode : </label>
						<select name="subCat" id="subCat" [(ngModel)]="paymentType"  class="custom-select mr-sm-2">
							<option value="" disabled selected>Select</option>
							<option value="cash">Cash</option>
							<option value="card">Card</option>
							<option value="upi">UPI</option>
							<option value="online">Online</option>
						</select>
					</div>
					<a [disabled]="!paymentType" mat-raised-button class="mt-2 ml-3" (click)="openInfoDialog()">Next</a>
				</div>
			</div>
		</div>
		
	</div>
</div>