ul {
    list-style-type: none;
    margin-top: 4px;
  }


  .mat-expansion-panel-header-description {
    flex-flow: row-reverse;
}
.example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }