
      <app-scanner></app-scanner>
<!--<mat-dialog-content class="mat-typography">
    <app-scanner></app-scanner>
  </mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>-->
