<div class="mt-1 " style="padding:20px;">
	<hr>
	<div class="row">
		<div class="col-md-12" style="display: flex; flex-direction: row;">
			<div class="form-group col-md-3 ml-2">
					<div class="input-group">
						<div class="input-group-prepend">
						<div class="input-group-text">Search</div>
						</div>
						<input type="text" class="form-control" id="searchInput" (keyup)="onFilterTextBoxChanged()" [(ngModel)]="searchText" placeholder="Search Text">
					</div>
				</div>
			<a mat-raised-button routerLink="/dashboard/admin/management/add-user">Add New Employee</a>
			<!--<button class="pull-right btn btn-primary btn-sm custom-btn" (click)="openDialog()">Add New Product</button>-->
		</div>
	</div>
	<hr>
	<ag-grid-angular
		style="width: 100%; height: 470px; padding:20px;"
		class="ag-theme-alpine"
		[rowData]="rowData"
		[columnDefs]="columnDefs"
		(gridReady)="onGridReady($event)"
		[frameworkComponents]="frameworkComponents"
		[pagination]="true"
		[rowSelection]="rowSelection"
		[defaultColDef]="defaultColDef"
		[paginationPageSize]="perPage"
		[gridOptions]="gridOptions"
		[suppressClickEdit] = "true"
		[editType]='editType'
		(cellValueChanged)="onCellValueChanged($event)">
	</ag-grid-angular>
    
</div>