<div class="mt-1 pt-2" style="padding:20px;">
    <div class="row">
        <div class="col-md-12">
            <h4>Organisation Details</h4>
        </div>
    </div>
    <hr>
    <a mat-icon-button [routerLink]="['/dashboard/super-admin']"><mat-icon>keyboard_backspace</mat-icon>Go Back</a>
    <hr>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Organisation Name</th>
                    <th>Origin Name</th>
                    
                    <th>Address</th>
                    <th>Is Active</th>
                    <th>Is KYC Done</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of orgData; let i = index;">
                    <td>{{row.organisationName}}</td>
                    <td>{{row.originName}}</td>
                    <td>
                        <ul style="list-style: none;padding-left: 5px;">
                            <li>Street: {{row.ownerStreet}}</li>
                            <li>Area: {{row.ownerArea}}</li>
                            <li>District: {{row.ownerDistrict}}</li>
                            <li>State: {{row.ownerState}}</li>
                            <li>Country: {{row.ownerCountry}}</li>
                            <li>Zip Code: {{row.ownerZipCode}}</li>
                        </ul>
                    </td>
                    <td>
                        <span *ngIf="editing">{{row.isActive}}</span>
                        <select style="width: 100%;" *ngIf="!editing && editIndex === i">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </td>
                    <td>
                        <span *ngIf="editing">{{row.isKycDone}}</span>
                        <select style="width: 100%;" *ngIf="!editing && editIndex === i">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </td>
                    <td>
                        <a *ngIf="editing" (click)="editing=!editing; editIndex=i;">Edit</a>
                        <a *ngIf="!editing" (click)="editing=!editing">Done</a>
                        <a class="ml-3" *ngIf="!editing" (click)="editing=!editing">Cancel</a>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
    
    <a mat-raised-button (click)="addFeatureEnable = !addFeatureEnable">Add Feature</a>
    <select *ngIf="addFeatureEnable" (change)="addFeature($event)">
        <option value="" selected disabled>Select Feature</option>
        <option *ngFor="let row of allFeaturesData; let i = index;" [value]="row.featureId">{{row.featureName}}</option>
    </select>
    <div *ngIf="orgFeaturesData && orgFeaturesData?.length > 0" class="table-responsive">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Feature Name</th>
                <th>Is Enabled</th>
                <th>Is Enabled For Organisation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of orgFeaturesData; let i = index;">
                <td>{{row.featureName}}</td>
                <td>{{row.isEnabled}}</td>
                <td>{{row.isFeatureEnableForOrg}}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div *ngIf="!orgFeaturesData || orgFeaturesData?.length === 0"></div>
</div>
