<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sales">Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inventory">Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="btn-group dropleft">
    <button class="btn btn-secondary btn-sm dropdown-toggle" (click)="show = !show;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <strong></strong>
    </button>
    <div [ngClass]="{'show':show}" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Account</a>
      <a class="dropdown-item" href="#">Request</a>
      <a class="dropdown-item" href="#">Settings</a>
      <a class="dropdown-item" href="#">Feedback</a>
      <a class="dropdown-item" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>-->
<mat-toolbar color="secondary">
  <mat-list-item><h3 *ngIf="organisation && organisation?.originName"><img [src]="logo" height="40" width="40">{{ organisation['originName'] | titlecase }}</h3></mat-list-item>
	<mat-nav-list class="list-horizontal">
        <mat-list-item>
      <a routerLink="/dashboard/admin" mat-menu-item><mat-icon>home</mat-icon>Dashboard</a>
    </mat-list-item>
    

	  <!--<mat-list-item>
      <button mat-menu-item [matMenuTriggerFor]="billsmenu">Bills</button>
    </mat-list-item>
    <mat-menu #billsmenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Bill Management</span>
      </button>
    </mat-menu>

    <mat-list-item>
      <button mat-menu-item [matMenuTriggerFor]="claimsmenu">Claims</button>
    </mat-list-item>
    <mat-menu #claimsmenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Claims Management</span>
      </button>
      <button mat-menu-item>
        <mat-icon>save_alt</mat-icon>
        <span>My Downloads </span>
      </button>
    </mat-menu>

    <mat-list-item>
      <button mat-menu-item [matMenuTriggerFor]="mcsMenu">Managed Care Solutions</button>
    </mat-list-item>
    <mat-menu #mcsMenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>UR Management</span>
      </button>
    </mat-menu>

    <mat-list-item>
      <button mat-menu-item [matMenuTriggerFor]="referralsmenu">Referrals</button>
    </mat-list-item>
    <mat-menu #referralsmenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Telephonic Case Management</span>
      </button>
      <button mat-menu-item>
        <mat-icon>save_alt</mat-icon>
        <span>Utilization Review </span>
      </button>
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Pharmacy Management</span>
      </button>
    </mat-menu>

    <mat-list-item>
      <button mat-menu-item [matMenuTriggerFor]="DRmenu">Dashboards & Reports</button>
    </mat-list-item>
    <mat-menu #DRmenu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Dashboards</span>
      </button>
      <button mat-menu-item>
        <mat-icon>save_alt</mat-icon>
        <span>Reports </span>
      </button>
    </mat-menu>-->
    <mat-list-item>
      <a routerLink="/dashboard/admin/inventory" mat-menu-item><mat-icon color="custom-font">list</mat-icon>Inventory</a>
    </mat-list-item>
    <mat-list-item>
      <button mat-menu-item [matMenuTriggerFor]="adminmenu"><mat-icon color="custom-font">supervised_user_circle</mat-icon>Administration</button>
    </mat-list-item>
    <mat-menu #adminmenu="matMenu" [overlapTrigger]="false">
      <button routerLink="/dashboard/admin/management" mat-menu-item>
        <mat-icon>supervisor_account</mat-icon>
        <span>User-Management</span>
      </button>
      <button mat-menu-item routerLink="/dashboard/admin/orgnisation/settings">
        <mat-icon>settings</mat-icon>
        <span>Organisation Settings</span>
      </button>
    </mat-menu>
    
  </mat-nav-list>
  <span class="example-spacer"></span>
  <mat-list-item>Logged in as: {{ user | titlecase }}</mat-list-item>
  <mat-list-item>
    <button mat-menu-item [matMenuTriggerFor]="accountmenu"><mat-icon>account_circle</mat-icon>Account</button>
  </mat-list-item>
  <mat-menu #accountmenu="matMenu" [overlapTrigger]="false">
    <a mat-menu-item routerLink="/dashboard/user/account/setting" mat-menu-item><mat-icon>settings</mat-icon>Profile Settings</a>
    <a mat-menu-item routerLink="/dashboard/admin/orgnisation/settings" mat-menu-item><mat-icon>settings</mat-icon>Organisation Settings</a>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout </span>
    </button>
  </mat-menu>
</mat-toolbar>
